<% layout('layouts/boilerplate') -%>
<div class="jumbotron">
        <div class="container">
          <h1 class="display-4">Welcome to Surf Shop</h1>
          <p class="lead">Buy and Sell Surf Boards from Anywhere</p>
          <a href="/posts"><button type="button" class="btn btn-light">See Available Boards</button></a>
        </div>
</div>

