.logo {
  color: #fff;
}

.logo:hover {
  color: #fff;
}

.jumbotron{
  background-image: url("/images/banner-bg.jpg");
  color: aliceblue;
  height: 600px;
  padding: 250px 0;
  text-align: center;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.color-green {
  color: green;
}

.color-red {
  color: red;
}

.profile-image {
  width: 100px;
  border-radius: 50%;
}

#map {
  width: 90%;
  height: 500px;
}

#brandimg {
  height: 45px;
}