<% layout('layouts/boilerplate') -%>

<div class="container-fluid landingPage">
    <div class="container">
        <form class="text-center border border-light p-3 logForm" action="/forgot-password?_method=PUT" method="POST">
            <h4 class="mb-2">Forgot Password</h4>
            <div>
                <label for="email">Email</label>
                <input class="form-control mb-4" type="text" name="email" id="email" autofocus>
            </div>
            <div>
                <input class="form-control mb-4" type="submit" value="Reset Password">
            </div>
        </form>
    </div>
</div> 
